/* Import Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

/* Import Tailwind */
@import "tailwindcss";

/* Define Nunito as your Tailwind font */
@theme {
<<<<<<< HEAD
  --font-display: "Nunito";
=======
  --font-display: "Nunito, sans-serif";
>>>>>>> 2b29b782e69cd48e621f336f0362e602e53a7291
}

/* Apply Nunito globally */
@layer base {
  html {
    font-family: var(--font-display);
  }
}
